.slide_pro {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 206px !important;
  text-transform: uppercase;
  row-gap: 68px;
  margin-bottom: 350px;
}
.card-slide_pro {
  width: 350px;
  height: 268px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  background-color: var(--white05);
  text-align: center;
}
.card-slide_pro img {
  margin: 0 auto;
  height: 220px;
  width: 170px;
}
.card-slide_pro h2 {
  color: var(--black);
  font-size: 24px;
  transform: translateY(90px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.714px;
  text-transform: uppercase;
}
.card-slide_pro a {
  color: var(--white);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--pink);
  margin-top: 32px;
  transform: translateY(90px);
}
.card-slide_pro a:hover {
  background: #fbaf85;
}
